<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaeuc.finalproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity

            android:name=".PickLangActivity"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".AddWordActivity" >
            <intent-filter>
                <action android:name="personalDictionary.ACTION_ADDWORD" />

                <category android:name="personalDictionary.CATEGORY_ADDWORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewLangActivity" >
            <intent-filter>
                <action android:name="personalDictionary.ACTION_ADDLANG" />

                <category android:name="personalDictionary.CATEGORY_ADDLANG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" >
            <intent-filter>
                <action android:name="personalDictionary.ACTION_MENU" />

                <category android:name="personalDictionary.CATEGORY_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyWordsActivity" >
            <intent-filter>
                <action android:name="personalDictionary.ACTION_MYWORDS" />

                <category android:name="personalDictionary.CATEGORY_MYWORDS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="personalDictionary.CATEGORY_MYWORDS" />

            </intent-filter>

        </activity>
    </application>

</manifest>
